section {
    padding: 24px 40px;
}

.main-page {
    color: white;
    background-color: #52031B;
    text-align: center;
    height: 100vh;
}

.btn {
    margin: 4px;
}

.field-container {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}