.field-players {
    height: 408px;
    width: 630px;
    background-color: #22B14C;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        "... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... p2  ... ... ... ... p9  ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... p3  ... ... p6  ... ... ... ... ... ..."
        "... p1  ... ... ... ... ... ... p8  ... ... p11 ..."
        "... ... ... p4  ... ... p7  ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... p5  ... ... ... ... p10 ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ...";
}

.field-item {
    display: flex;
    align-items: center;
    justify-content: center;
}