.player {
    height: 36px;
    width: 36px;
    border-radius: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: bold;

    color: black;
    background-color: white;
    border: solid black 3px;
}

.player.normal {
    color: green;
    background-color: yellow;
    border: solid green 3px;
}

.player.neutralized {
    color: white;
    background-color: grey;
    border: none;
}